<a href="{% if project.redirect %}{{ project.redirect }}{% else %}{{ project.url | relative_url }}{% endif %}" class="lab-project-card-link">
  <div class="card hoverable">
    {% if project.img %}
      <img src="{{ project.img | prepend: '/assets/img/' | relative_url }}" alt="{{ project.title }}" class="card-img-top" loading="eager">
    {% endif %}
    <div class="card-body">
      <h2 class="card-title">{{ project.title }}</h2>
      <p class="card-text">{{ project.description }}</p>
    </div>
  </div>
</a>
